body{
  background-color: black;
  background-repeat: no-repeat;
   
}

.text1{
    font-size: 18px;
  background: -webkit-linear-gradient(#1E90FF, #FFF8DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 25%;
  box-sizing: border-box;
  float: left;
  text-shadow: 0 0 10px #F0FFFF;

 }  
 .text2{
    font-size: 18px;
  background: -webkit-linear-gradient(#1E90FF, #FFF8DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 25%;
  box-sizing: border-box;
  float: left;
  text-shadow: 0 0 10px #F0FFFF;
 }  
 .text3{
    font-size: 18px;
  background: -webkit-linear-gradient(#1E90FF, #FFF8DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 25%;
  box-sizing: border-box;
  float: left;
  text-shadow: 0 0 10px #F0FFFF;
 }  
 .text4{
    font-size: 18px;
  background: -webkit-linear-gradient(#1E90FF, #FFF8DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 25%;
  box-sizing: border-box;
  float: left;
  text-shadow: 0 0 10px #F0FFFF;

 }  
}
.h2{
  color: blue;
  text-align: center;
  width: 100%;
}

.location{
  font-size: 18px;
  background: -webkit-linear-gradient(#1E90FF, #FFF8DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #F0FFFF;
  text-align: center; 
}

@import "compass/css3";

.navigation {
  z-index: 500;
  position: fixed; 
  width: 98%;
  list-style: none;
  margin: 0; 


  background: rgb(33, 21, 16);
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  position: fixed;
}

.navigation a {
  text-decoration: none;
    border-left: rgba(248, 183, 0, 0.5) 1px solid;
  display: block;
  padding: 1em;
  color: rgba(248, 183, 0, 0.81);
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    border-right: 6px dotted red;
  }
