body {
    margin: 0 auto;
    color:white;
    background-image: url("background1.jpg");
    background-size: auto 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}


/*
******************************

            MISC

******************************
*/


.center {
    text-align: center;
}

.fLeft {
    float: left;
}

.boxL {
    background-color: rgba(0, 0, 0, 0.35);
    width: 49%;
    border-left: none;
    float: left;
    margin 5em 0em 5em 5em;
}

.boxR {
    background-color: rgba(0, 0, 0, 0.35);
    width: 49%;
    border: red dotted 3px;
    border-right: none;
    float: right;
    margin: 5em 0em 5em 5em;
}