body {
    background-color: black;
}

.topdeck {
    color: white;
    text-align: center;
    background-color: rgba(139, 0, 0, 0.54);
    border: dotted blue 2px;
    width: 110em;
    margin: -9px -9px -9px -9px;
}